<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <!-- --------------navbar--------------------- -->
        <div class="navbar">
                <div class="logo">Hello<span class="intern">Intern</span></div>
                <div class="nav-list">
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/content"><li>internship</li></a>
                        <a href="/about"><li>about</li></a>
                        <% if(loginId == 'false'){ %>
                        <a href="/login"><li>login</li></a>
                        <a href="/register"><li>SignUp</li></a>
                        <% }else{ %>
                        <a href="/addjob"><li>Add job</li></a>
                        <a href="/logout"><li>LogOut</li></a>
                        <% } %>
                    </ul>
                </div>
            </div>

        <!-- --------------content----------------- -->
            <div class="main">
                <div class="content">
                    <h3>about us :</h3>
                    <h1>what do we Do!</h1>
                    <p>We, search for you the best possible opportunity, based on the type of experience, skills you have developed.</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quasi reprehenderit quam in reiciendis autem rem culpa quia nesciunt tenetur. Quis sunt nihil officia voluptates ullam. Fugit, deleniti nisi suscipit accusamus ad praesentium esse mollitia quas odit repudiandae dolorum veritatis hic officia veniam quis voluptatem! Iusto quas ea distinctio assumenda, nobis sint voluptate repellendus natus reiciendis dicta delectus quia alias iure eligendi corporis quae nostrum mollitia blanditiis deleniti consequuntur odio tempora adipisci! Earum adipisci beatae dicta eligendi quod neque quis illum minima libero, eum voluptatum ullam vel atque recusandae porro animi voluptates autem sint molestias culpa, ratione, inventore omnis. Praesentium.
                    </p>
                    <h1 class="co-founders">Co-founder of <span class="hello">Hello</span><span>Intern</span></h1>
                    <div class="author">
                        <div class="authorPerson">
                            <div class="image">
                                <img src="/images/divya.jpeg" alt="">
                            </div>
                            <div class="about-authorPerson">
                                <h1>Divya Shetty</h1>
                                <p>Co-founder of Hello<span>Intern</span></p>
                                <p><span class="skills">skills:</span>
                                    <ul>
                                        <li>NodeJs</li>
                                        <li>MongoDB</li>
                                        <li>Express</li>
                                    </ul>
                                </p>
                            </div>
                        </div>


                        <div class="authorPerson">
                            <div class="image">
                                <img src="/images/janhvi.jpeg" alt="">
                            </div>
                            <div class="about-authorPerson">
                                <h1>Janhvi Shinde</h1>
                                <p>Co-founder of Hello<span>Intern</span></p>
                                <p><span class="skills">skills:</span>
                                        <ul>
                                            <li>HTML</li>
                                            <li>CSS</li>
                                            <li>JavaScript</li>
                                        </ul>
                                    </p>
                            </div>
                        </div>
                        
                        </div>
                    </div>
                </div>



        <!-- ------------footer------------ -->
        <div class="footer-head">
                <div class="content">
                    <h2>Internships by places</h2>
                    <ul>
                        <li>Internship in India</li>
                        <li>Internship in Delhi</li>
                        <li>Internship in Bangalore</li>
                        <li>Internship in Hyderabad</li>
                        <li>Internship in Mumbai</li>
                        <li>Internship in Chennai</li>
                        <li>Internship in Gurgaon</li>
                        <li>Internship in Kolkata</li>
                        <li>Virtual internship</li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Internship by Stream</h2>
                    <ul>
                        <li>Computer Science Internship</li>
                        <li>Electronics Internship</li>
                        <li>Mechanical Internship</li>
                        <li>Civil Internship</li>
                        <li>Marketing Internship</li>
                        <li>Chemical Internship</li>
                        <li>Finance Internship</li>
                        <li>Summer Research Fellowship</li>
                        <li>Campus Ambassador Program</li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Online Winter Trainings</h2>
                    <ul>
                        <li>Web Development</li>
                        <li>Android App Development</li>
                        <li>Programming with Python</li>
                        <li>Data Science</li>
                        <li>Ethical Hacking</li>
                        <li>Core Java</li>
                        <li>Digital Marketing</li>
                        <li>Advance Excel</li>
                        <li>Programming with C & C++</li>
                    </ul>
                </div>
                <div class="content">
                    <h2>About Internshala</h2>
                    <ul>
                        <li>About us</li>
                        <li>We're hiring</li>
                        <li>Hire interns for your company</li>
                        <li>Team Diary</li>
                        <li>Blog</li>
                        <li>Our Services</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy</li>
                        <li>Contact us</li>
                    </ul>
                </div>
             </div>
        
        
             <div class="footer-bottom">
                 <p>
                    &copy; Hello<span>Intern</span> pvt. limited
                 </p>
             </div>
</body>
</html>