<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="./fonts/css/all.min.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>

    <!-- --------------navbar----------------- -->
        <div class="navbar">
                <div class="logo">Hello<span class="intern">Intern</span></div>
                <div class="nav-list">
                    <ul>
                        <a href="/"><li>Home</li></a>
                        <a href="/internship"><li>internship</li></a>
                        <a href="/about"><li>about</li></a>
                        <% if(loginId == 'false'){ %>
                        <a href="/login"><li>login</li></a>
                        <a href="/register"><li>SignUp</li></a>
                        <% }else{ %>
                        <a href="/addjob"><li>Add job</li></a>
                        <a href="/logout"><li>LogOut</li></a>
                        <% } %>
                    </ul>
                </div>
        </div>


        <!-- ----------------login-form------------ -->
        <div class="main">
            <form action="/register" method="POST">
                <div class="login-logo">
                        <p><i class="fas fa-user-circle"></i></p>
                    <h2>Register </h2>
                </div>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" placeholder="Enter your first name">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" placeholder="Enter your last name">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="abc@gmail.com">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="abc123">
                <button type="submit">Register</button>
                <a href="/login"><p>Already Registered? Login</p></a>
            </form>
        </div>


        <!-- ------------footer------------ -->
    <div class="footer-head">
            <div class="content">
                <h2>Internships by places</h2>
                <ul>
                    <li>Internship in India</li>
                    <li>Internship in Delhi</li>
                    <li>Internship in Bangalore</li>
                    <li>Internship in Hyderabad</li>
                    <li>Internship in Mumbai</li>
                    <li>Internship in Chennai</li>
                    <li>Internship in Gurgaon</li>
                    <li>Internship in Kolkata</li>
                    <li>Virtual internship</li>
                </ul>
            </div>
            <div class="content">
                <h2>Internship by Stream</h2>
                <ul>
                    <li>Computer Science Internship</li>
                    <li>Electronics Internship</li>
                    <li>Mechanical Internship</li>
                    <li>Civil Internship</li>
                    <li>Marketing Internship</li>
                    <li>Chemical Internship</li>
                    <li>Finance Internship</li>
                    <li>Summer Research Fellowship</li>
                    <li>Campus Ambassador Program</li>
                </ul>
            </div>
            <div class="content">
                <h2>Online Winter Trainings</h2>
                <ul>
                    <li>Web Development</li>
                    <li>Android App Development</li>
                    <li>Programming with Python</li>
                    <li>Data Science</li>
                    <li>Ethical Hacking</li>
                    <li>Core Java</li>
                    <li>Digital Marketing</li>
                    <li>Advance Excel</li>
                    <li>Programming with C & C++</li>
                </ul>
            </div>
            <div class="content">
                <h2>About Internshala</h2>
                <ul>
                    <li>About us</li>
                    <li>We're hiring</li>
                    <li>Hire interns for your company</li>
                    <li>Team Diary</li>
                    <li>Blog</li>
                    <li>Our Services</li>
                    <li>Terms & Conditions</li>
                    <li>Privacy</li>
                    <li>Contact us</li>
                </ul>
            </div>
         </div>
    
    
         <div class="footer-bottom">
             <p>
                &copy; Hello<span>Intern</span> pvt. limited
             </p>
         </div>
    
</body>
</html>